{% extends 'base.html.twig' %}

{% block title %}Interviews Information
{% endblock %}

{% block body %}
	<h2>Interview's Information</h2>

	<table class="table">
		<thead>
			<tr>
				<th>Job</th>
				<th>Company</th>
				<th>Statut</th>
				<th>Date</th>
				<th>Edit interview</th>
				<th>Interview details</th>

			</tr>
		</thead>
		<tbody>
			<h1>{{ app.session.get('total') }}</h1>

			{% for interview in interviews %}
				<tr>
					<td>{{ interview.job }}</td>
					<td>{{ interview.company }}</td>
					<td>{{ interview.statut.name }}</td>
					<td>{{ interview.date }}</td>
					<td>
						<a href="{{ path('app_interview_edit', {'id': interview.id}) }}">Edit</a>
					</td>
					<td>
						<a href="{{ path('app_interview_show', {'id': interview.id}) }}">See</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_interview_new') }}">Create a new interview</a>
{% endblock %}
